body,html{
	background-color: #eee; 
	font-family: 'Alata', sans-serif;
  height: 100%;
}
h1,h2,h3,h4,h5,h6,p{
  font-family: 'Alata', sans-serif;
}
a{
  font-family: 'Alata', sans-serif;
  color: #333;
}
a:hover{
  color:  #ffffff;
  text-decoration: none !important;
}


.container{
 height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -105px -115px;

}
.login-content{
	float: right;
	 flex-direction: column;
     height: 100%;
     padding-top: 7%;
	
}
.login-form{
    height: 25%;
    background-color: #000;
    border-radius: 30px;
    padding-top: 2%;
}
.login-form h4{
	text-align: center;
	color: #ffffff ;
	font-weight: 600;
      margin-bottom: 22px;
}
.login-form .forgot-password{
	text-align: center;
	color: #ffffff ;
}
.login-form .forgot-password a{
	
	color: #ffffff !important;
}
.login-form .create-account{
	text-align: center;
	color: #ffffff !important;
}
.login-form .create-account a{
	
	color: #ffffff !important;
}
.login-form input{
	border-radius: 20px !important;
	text-align: center;
	border: none  !important;
	background-image: linear-gradient(-90deg, #ffffff, #ffffff);

  font-weight: bold;
}


.login-form input:focus{
	outline: none !important;
	box-shadow: none !important;
	border: none  !important;

}

.login-form .login-btn{
	margin-top: 1rem;
    max-width:fit-content;
    margin-left: 36%; 
}
.login-form .glogin-btn{
	margin-top: 1rem;
    max-width:fit-content;
    margin-left: 23%;
}
.login-form .glogin-btn .btn{
    background: #ffffff;
    color:#333;
    border-radius: 30px;
}   
.login-form .login-btn .btn{
	font-weight: 600;
    color:#000;
}
.login-btn input{
    background-image:linear-gradient(-90deg, #f95656, #f95656);
}

.forgot-password a{
    font-weight: bolder;
}
.forgot-password a:hover{
    color:  #f95656 !important;
}
.create-account a{
    font-weight:bolder;
}
.create-account a:hover{
    color:  #f95656 !important;
}
.TagLine{
    padding-top: 7%;
    padding-right: 0%;
    float:left;
}
.TagLine img{
    height: 500px;
    width: 125%;
}
/***************************** media query 1366px **********/
@media only screen and (max-width: 1366px) {
  .container{
  	    background-position: -155px -155px;
  	    
  	    margin-left: 0px !important;
  }
  
}
/***************************** media query 1294px **********/
@media only screen and (max-width: 1294px) {
  .container{
  	    background-position: -115px -115px;
  	    
  	    margin-left: 0px !important;
  }
  
}
/***************************** media query 1024px **********/
@media only screen and (max-width: 1024px) {
  .container{
  	    background-position: -97px -97px;
  	    background-size: unset;
  	    margin-left: 0px !important;
  }
  .TagLine img{
    display:none;
}
}
/***************************** media query 815px **********/
@media only screen and (max-width: 900px) {
  .container{
  	    background-image: none;
          height: 100%;
  }
.login-content{
  align-items: center;
}
.login-form{
  margin: 20px auto !important;
}
.login-form .login-btn{
    margin-left: 40%;
  }
  .login-form .glogin-btn{
	margin-top: 1rem;
    max-width:fit-content;
    margin-left: 30%;
  }
  .TagLine img{
    display:none;
}

}
/***************************** media query 414px **********/
/* mobile breakpoint start */
@media screen and (max-width: 500px) {
  /* navbar css for mobile end */
  .container{
    height: 165%;
  }
  .login-form{
  	padding-left: 0 !important;
    max-height: 50%;
  }
  .form-group{
    width: 102%;
  }
  .login-form .glogin-btn{
	margin-top: 1rem;
    max-width:fit-content;
    margin-left: 18%;
  }
  .login-form .login-btn{
    margin-left: 34%;
  }
  .TagLine img{
    display:none;
}

}